body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#transactions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

#table-container table {   
    border-collapse: collapse; 
}

#table-container table th, #table-container table td {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    white-space: nowrap;        /* Prevent column content from wrapping */
}

#table-container table th {
    background-color: #2A49D5;  /* Dark Blue Header */
    color: white;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.remove-btn:hover {
    text-decoration: underline;
}

@media (max-width: 1024px){
    #table-container table {
        max-width: 400px;
        font-size: 10px;
    }
}

@media (max-width: 660px){
    #table-container {
        width: 90%;  /* Adjust the width as needed */
        overflow-x: auto;  /* Enable horizontal scrolling */
        border: 1px solid #000;
    }
    #table-container table{
        min-width: 600px;
    }
    #table-container {
        overflow-x: auto;          
        margin: 0 auto;             
    }
}




